<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Historical Timelines</title>
        <link rel="stylesheet" href="../styles/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">    </head>
    <body>
        <main>
            <div class="timeline-wrapper">
                <div class="timeline">
                    <div class="supereon" data-start="-4567" data-end="-538" style="background:#cccccc">Precambrian</div>

                    <div class="eon" data-start="-4567" data-end="-4031" style="background:#dcdcdc">Hadean Eon</div>
                    <div class="eon" data-start="-4031" data-end="-2500" style="background:#ccefff">Archean Eon</div>
                    <div class="eon" data-start="-2500" data-end="-538" style="background:#c0e8df">Proterozoic Eon</div>
                    <div class="eon" data-start="-538" data-end="0" style="background:#dbeaa7">Phanerozoic Eon</div>

                    <div class="era" data-start="-4031" data-end="-3600" style="background:#72B8D8">Eoarchean Era</div>
                    <div class="era" data-start="-3600" data-end="-3200" style="background:#75C4E9">Paleoarchean Era</div>
                    <div class="era" data-start="-3200" data-end="-2800" style="background:#81D7FF">Mesoarchean Era</div>
                    <div class="era" data-start="-2800" data-end="-2500" style="background:#90DCFF">Neoarchean Era</div>
                    <div class="era" data-start="-2500" data-end="-1600" style="background:#79BDAF">Paleoproterozoic Era</div>
                    <div class="era" data-start="-1600" data-end="-1000" style="background:#85D3C2">Mesoproterozoic Era</div>
                    <div class="era" data-start="-1000" data-end="-538" style="background:#97D9CC">Neoproterozoic Era</div>
                    <div class="era" data-start="-538" data-end="-252" style="background:#B9CD76">Paleozoic Era</div>
                    <div class="era" data-start="-252" data-end="-66" style="background:#CDD37C">Mesozoic Era</div>
                    <div class="era" data-start="-66" data-end="0" style="background:#E0D982">Cenozoic Era</div>

                    <div class="geoPeriod" data-start="-2500" data-end="-2300" style="background:#4C8B7E">Siderian period</div>
                    <div class="geoPeriod" data-start="-2300" data-end="-2050" style="background:#54998B">Rhyacian period</div>
                    <div class="geoPeriod" data-start="-2050" data-end="-1800" style="background:#59AD9C">Orosirian period</div>
                    <div class="geoPeriod" data-start="-1800" data-end="-1600" style="background:#66B3A4">Statherian period</div>
                    <div class="geoPeriod" data-start="-1600" data-end="-1400" style="background:#51B19C">Calymmian period</div>
                    <div class="geoPeriod" data-start="-1400" data-end="-1200" style="background:#59C3AC">Ectasian period</div>
                    <div class="geoPeriod" data-start="-1200" data-end="-1000" style="background:#68C8B4">Stenian period</div>
                    <div class="geoPeriod" data-start="-1000" data-end="-720" style="background:#58B3A1">Tonian period</div>
                    <div class="geoPeriod" data-start="-720" data-end="-635" style="background:#61C5B1">Cryogenian period</div>
                    <div class="geoPeriod" data-start="-635" data-end="-538" style="background:#6FCAB8">Ediacaran period</div>
                    <div class="geoPeriod" data-start="-538" data-end="-486" style="background:#879E3F">Cambrian period</div>
                    <div class="geoPeriod" data-start="-486" data-end="-443" style="background:#8EA642">Ordovician period</div>
                    <div class="geoPeriod" data-start="-443" data-end="-419" style="background:#95AE45">Silurian period</div>
                    <div class="geoPeriod" data-start="-419" data-end="-358" style="background:#9DB749">Devonian period</div>
                    <div class="geoPeriod" data-start="-358" data-end="-298" style="background:#A4BF4C">Carboniferous period</div>
                    <div class="geoPeriod" data-start="-298" data-end="-252" style="background:#ACC55C">Permian period</div>
                    <div class="geoPeriod" data-start="-252" data-end="-201" style="background:#ADB34B">Triassic period</div>
                    <div class="geoPeriod" data-start="-201" data-end="-143" style="background:#BEC552">Jurassic period</div>
                    <div class="geoPeriod" data-start="-143" data-end="-66" style="background:#C4CA62">Cretaceous period</div>
                    <div class="geoPeriod" data-start="-66" data-end="-23" style="background:#C0B94A">Paleogene period</div>
                    <div class="geoPeriod" data-start="-23" data-end="-2.6" style="background:#D3CB51">Neogene period</div>
                    <div class="geoPeriod" data-start="-2.6" data-end="0" style="background:#D7D061">Quaternary period</div>
                    
                    <div class="geoEpoch" data-start="-66" data-end="-56" style="background:#4C8B7E">Paleocene Epoch</div>
                    <div class="geoEpoch" data-start="-56" data-end="-33.9" style="background:#4C8B7E">Eocene Epoch</div>
                    <div class="geoEpoch" data-start="-33.9" data-end="-23.04" style="background:#4C8B7E">Oligocene Epoch</div>
                    <div class="geoEpoch" data-start="-23.04" data-end="-5.33" style="background:#4C8B7E">Miocene Epoch</div>
                    <div class="geoEpoch" data-start="-5.33" data-end="-2.58" style="background:#4C8B7E">Pliocene Epoch</div>
                    <div class="geoEpoch" data-start="-2.58" data-end="-0.012" style="background:#4C8B7E">Pleistocene Epoch</div>
                    <div class="geoEpoch" data-start="-0.012" data-end="0" style="background:#4C8B7E">Holocene Epoch</div>

                    <div class="timeline-line"></div>
<!--                    <div class="marker" data-year="0">-->
<!--                        <div class="tick"></div>-->
<!--                        <div class="label">0 MYA</div>-->
<!--                    </div>-->
                </div>
            </div>
            <input type="range" id="zoomSlider" min="50" max="200" value="100">
            <button id="panLeft">◀</button>
            <button id="panRight">▶</button>
        </main>
        <script src="../scripts/script.js"></script>
        <svg style="display:none;">
    <filter id="paperNoise">
        <feTurbulence
            type="fractalNoise"
            baseFrequency="0.85"
            numOctaves="4"
            result="noise" />

        <feColorMatrix in="noise" type="matrix"
            values="0 0 0 0 0
                    0 0 0 0 0
                    0 0 0 0 0
                    0 0 0 0.4 0" result="pulp" />

        <feBlend in="SourceGraphic" in2="pulp" mode="soft-light" />
    </filter>
</svg>
    </body>
</html>