<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eons</title>
    <link rel="stylesheet" href="../styles/styles-old.css">
    <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css">
</head>
<body data-timeline="../data/eons.json">
    <h1>Eons</h1>
    <p class="etymology" style="text-align: center">from Greek aiōn - 'life force'</p>
    <div id="timeline-list"></div>
    <script src="../scripts/timeline-list.js"></script>
</body>
</html>