<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geological Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css">
</head>
<body>
    <main class="container" data-topic="history">
        <div class="top-meta">
            <span>HISTORY</span>
            <span class="tag-stamp">GREECE</span>
        </div>
    <h1>Ancient Greece History</h1>
    <h2>Крито-микенский период</h2>
    <div class="period">
        <div class="period-text">
            <p class="period-name">
                <span class="highlight-marker">Крито-микенский период</span>
            </p>
            <p>2100 – 1000 years BC</p>
        </div>
    </div>
    <p>Зарождение ранних форм культуры. Влияние минойской и микенской цивилизаций.</p>
    <h2>Полисный период</h2>
    <div class="period">
        <div class="period-text">
            <p class="period-name">
                <span class="highlight-marker">Полисный период</span>
            </p>
            <p>1000 – 400 years BC</p>
        </div>
    </div>
    <h3>Гомеровский период</h3>
    <div class="period">
        <div class="period-text">
            <p class="period-name">
                <span class="highlight-marker">Гомероский период</span>
            </p>
            <p>1000 – 800 years BC</p>
        </div>
    </div>
    <p>Распад родовой общины, зарождение рабовладельческих отношений. Появление эпоса и изобразительного искусства.</p>
    <p>В это время жил Гомер.</p>
    <h3>Архаика</h3>
    <div class="period">
        <div class="period-text">
            <p class="period-name">
                <span class="highlight-marker">Архаика</span>
            </p>
            <p>800 – 500 years BC</p>
        </div>
    </div>
    <p>Возникновение рабовладельческих городов-государств. Развитие архитектуры, скульптуры, лирики..</p>
    <h3>Классика</h3>
    <div class="period">
        <div class="period-text">
            <p class="period-name">
                <span class="highlight-marker">Классика</span>
            </p>
            <p>500 – 400 years BC</p>
        </div>
    </div>
    <p>Расцвет рабовладельческого общества. Расцвет философии, поэзии, драмы. Развитие гражданского самосознания и реализма в искусстве.  </p>
    <h3>Эллинистический период</h3>
    <div class="period">
        <div class="period-text">
            <p class="period-name">
                <span class="highlight-marker">Эллинистический период</span>
            </p>
            <p>400 – 1 years BC</p>
        </div>
    </div>
    <p>Образование империй, благодаря им получается ненадолго выйти из кризиса. Консолидация рабовладельцев под властью монархий.  Усиление внутренних противоречий.</p>
  </main>
</body>
</html>